body {
    font: 20px Arial, sans-serif;
}

.navbar {
    background-color: #298a08;
}

.quem-somos {
    background-color: #8181f7;
    padding-top: 50px;
    padding-bottom: 50px;
    color: white;
}

.texto {
    padding-top: 20px;
    padding-bottom: 20px;
}

.parceiros {
    background-color: #58FAF4;
    padding-top: 50px;
    padding-bottom: 50px;
}

.servicos {
    background-color: #3393FF;
    padding-top: 50px;
    padding-bottom: 50px;
}

.bg-footer {
    background-color: dimgrey;
    color: white;
    padding-top: 15px;
    padding-bottom: 5px;
}

